@import "tailwindcss";

:root {
  --foreground-rgb: rgb(211, 216, 232);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #0d1224;
}

#sticky-card-1 {
  --index: 1;
}

#sticky-card-2 {
  --index: 2;
}

#sticky-card-3 {
  --index: 3;
}

#sticky-card-4 {
  --index: 4;
}

.sticky-card {
  /* padding-top: calc(var(--index) * 2.5rem); */
  top: calc(var(--index) * 4rem);
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.popup .popuptext {
  visibility: hidden;
  width: 90px;
  background-color: #555;
  text-align: start;
  border-radius: 6px;
  padding: 8px;
  position: absolute;
  z-index: 1;
  top: 110%;
  left: 110%;
  margin-left: -80px;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Customize the scrollbar width */
::-webkit-scrollbar {
  width: 0px;
}
